@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --white: #ffffff;
  --black: #000000;
  --key-color: #2DB0E0;
  --key-color-light: #6FD8FE;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-noto-sans {
  font-family: var(--font-noto-sans);
}

.font-noto-sans-kr {
  font-family: var(--font-noto-sans-kr);
}

.font-monoton {
  font-family: var(--font-monoton);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-candal {
  font-family: var(--font-candal);
}

.font-logo {
  font-family: var(--font-monoton);
  font-size: 2rem;
  font-weight: 700;
}

.top-nav-city {
  background: var(--black);
  padding: 0.2rem 0.8rem;
  border-radius: 0.4rem;
  font-family: var(--font-monoton);
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--white);
}

.top-nav-city:hover {
  background: var(--key-color);
}

.font-footer {
  font-size: 1rem;
}

.main-tag-btn {
  transition: all 0.3s ease;
  background-color: var(--white);

  h1 {
    color: var(--black);
  }
}

.main-tag-btn:hover {
  background-color: var(--key-color-light);

  h1 {
    color: var(--white);
  }
}


.bg-tag-country {
  @apply bg-rose-500 text-white rounded-xs px-2 py-1 font-bold hover:bg-rose-600;
  /* 또는 커스텀 핫핑크: */
  /* background-color: #e91e63; */
}
.bg-tag-city {
  @apply bg-sky-500 text-white rounded-xs px-2 py-1 font-bold hover:bg-sky-600;
}
.bg-tag-repeat {
  @apply bg-teal-500 text-white rounded-xs px-2 py-1 font-bold hover:bg-teal-600;
}
.bg-tag-category {
  @apply bg-fuchsia-500 text-white rounded-xs px-2 py-1 font-bold hover:bg-fuchsia-600;
}